
AutoMapperABC/AutoMapperABC/obj/Debug/net5.0/AutoMapperABC.pdb
AutoMapperABC/AutoMapperABC/obj/Debug/net5.0/AutoMapperABC.genruntimeconfig.cache
AutoMapperABC/AutoMapperABC/obj/Debug/net5.0/AutoMapperABC.GeneratedMSBuildEditorConfig.editorconfig
AutoMapperABC/AutoMapperABC/obj/Debug/net5.0/AutoMapperABC.dll
AutoMapperABC/AutoMapperABC/obj/Debug/net5.0/AutoMapperABC.csproj.FileListAbsolute.txt
AutoMapperABC/AutoMapperABC/obj/Debug/net5.0/AutoMapperABC.assets.cache
AutoMapperABC/AutoMapperABC/bin/Debug/net5.0/AutoMapperABC.pdb
AutoMapperABC/AutoMapperABC/bin/Debug/net5.0/AutoMapperABC.dll
AutoMapperABC/.vs/AutoMapperABC/v16/.suo
AutoMapperABC/.vs/AutoMapperABC/config/applicationhost.config
AutoMapperABC/AutoMapperABC/obj/Debug/net5.0/AutoMapperABC.pdb
AutoMapperABC/AutoMapperABC/obj/Debug/net5.0/AutoMapperABC.genruntimeconfig.cache
AutoMapperABC/AutoMapperABC/obj/Debug/net5.0/AutoMapperABC.GeneratedMSBuildEditorConfig.editorconfig
AutoMapperABC/AutoMapperABC/obj/Debug/net5.0/AutoMapperABC.dll
AutoMapperABC/AutoMapperABC/obj/Debug/net5.0/AutoMapperABC.csproj.FileListAbsolute.txt
AutoMapperABC/AutoMapperABC/obj/Debug/net5.0/AutoMapperABC.assets.cache
AutoMapperABC/AutoMapperABC/bin/Debug/net5.0/AutoMapperABC.pdb
AutoMapperABC/AutoMapperABC/bin/Debug/net5.0/AutoMapperABC.dll
AutoMapperABC/.vs/AutoMapperABC/v16/.suo
AutoMapperABC/.vs/AutoMapperABC/config/applicationhost.config
